:root {
    --a-color: #9E153B;
    --text-font-size: 2rem;

    --underline-height: 4px;
    --transition: width 0.5s ease;
}

body {
    font-size: var(--text-font-size);
    text-align: center;
}

a {
    color: var(--a-color);
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: var(--underline-height);
    background: var(--a-color);
    transition: var(--transition);
}

a:hover::before {
    width: 100%;
}